<!doctype html>
<html>
    <head lang="bg">
        <meta charset="utf-8">
        <title>Създаден кредит</title>
    </head>
    <body>
        <h1>Успешно създаден кредит</h1>
        ID: {{ id }}<br>
        Име и фамилия: {{ fullName }}<br>
        Срок в месеца: {{ months }}<br>
        Сума в лева: {{ amount }}<br>
        Лихвен процент: {{ interestRate }}<br>
    </body>
</html>
