<!doctype html>
<html lang="bg">
    <head>
        <meta charset="utf-8">
        <title>Списък на кредити</title>
    </head>
    <body>
    {% include 'navigation.html.twig' %}

        <h1>Списък на кредити</h1>
        <ul>
            {% if credits is empty %}
                Няма кредити.
            {% endif %}
            {% for credit in credits %}
                <li>{{ credit.id }}, {{ credit.fullName }}, {{ credit.amount }} лв., {{ credit.months }} месеца, {{ credit.interestRate }}%</li>
            {% endfor %}
        </ul>
    </body>
</html>
