<!doctype html>
<html lang="bg">
    <head>
        <meta charset="utf-8">
        <title>Списък на кредити</title>
    </head>
    <body>
    {% include 'navigation.html.twig' %}

        <h1>Списък на кредити</h1>
        {% if credits is empty %}
            Няма кредити.
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Име и фамилия</th>
                    <th>Сума</th>
                    <th>Месеци</th>
                    <th>Процент</th>
                </tr>
            </thead>
            <tbody>
            {% for credit in credits %}
                <tr>
                    <td>{{ credit.id }}</td>
                    <td>{{ credit.fullName }}</td>
                    <td>{{ credit.amount }} лв.</td>
                    <td>{{ credit.months }}</td>
                    <td>{{ credit.interestRate }}%</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>
